/**
 *  Base CSS 
 *          
 */

/* CORE
------------------------------------------------------------------------------------*/
body {
	color: #363636;
	background-color:#f6f6f6;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:13px;
}

.centered-content{
	margin:0 auto;
	position:relative;
	width:960px;
}

/* GLOBAL FORMATTING
------------------------------------------------------------------------------------*/
p, li{
	line-height:1.5em;
}

a{
	color:#dc5000;
}

.no-touch a:hover{
	text-decoration:none;
}

a:focus{
	outline:none;
}

h1, h2, h3, h4{
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin-top:0;
}

h1 {
	font-size:48px;
}
h2 {
	font-size: 30px;
	margin-bottom:20px;
}

h3 {
	font-size: 24px;
	margin-bottom:15px;
}

a.button,
button{
	color:#363636;
	background-color:#e6e6e6;
	border:1px solid #cccccc;
	font-family: "Myriad Pro", Myriad, Arial;
	font-size:18px;
	display: inline-block;
	padding: 8px 10px 7px 10px;
	margin:0 5px 5px 0;
	text-align: center;
	text-decoration: none;
	*display:inline;
	zoom:1;
}

.no-touch a.button:hover,
.no-touch button:hover{
	background-color:#ffffff;
}

a.button.baction,
button[type=submit]{
	color:#ffffff;
	background-color:#8ac706;
	border:1px solid #ffffff;
}

.no-touch a.button.baction:hover,
.no-touch button[type=submit]:hover{
	background-color:#adde42;
}

.button.bsmall{
	font-size:16px;
	padding:6px 10px 5px 10px;
}

.button.blarge{
	font-size:15px;
	padding: 11px 20px 10px 20px;
}

a.circle-arrow-left{
	background:transparent url("../images/circle-arrow-left.png") no-repeat left top;
	color:#2eb6e0;
	display:inline-block;
	font-size:15px;
	height:32px;
	margin-bottom:15px;
	padding:13px 0 0 55px;
	text-decoration:none;
	*display:inline;
	zoom:1;
}


.center-text{
	text-align:center;
}

.small-text{
	font-size:0.9em;
}

.bold{
	font-weight:bold;
}

.white-text{
	color:#ffffff !important;
}


/* OVERRIDE JQUERY UI
-----------------------*/
.ui-widget{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:1em;
}

.ui-datepicker{
	z-index:99999 !important;
}


/* FORM
-----------------------*/
input[type=text],
input[type=email],
input[type=password],
input[type=number],
textarea,
select{
	background-color:#fff;
	border:1px solid #cccccc;
	padding:5px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
textarea:focus,
select:focus{
	background-color:#d5e5ee;
	border:1px solid #00609c;
	outline:1px solid #fff;
}

select:focus{
	outline:none;
}

form .input-error{
	background-color:#ffd9d9;
	border:1px solid #8a1515;
}

form .input-error:focus{
	background-color:#fdabab;
	border:1px solid #8a1515;
}

form .input-valid{
	background-color:#e7fae3;
	border:1px solid #2e6f0b;
}

form .input-valid:focus{
	background-color:#c6f1be;
	border:1px solid #2e6f0b;
}

.privacy-policy-box{
	background:#ffffff;
}

.form-block {
	background-color:#ffffff;
	margin:0 0 20px 0;
	padding: 20px;
	position:relative;
	width:600px;
}

.form-block .form-row{
	margin-top:20px;
}
.form-block .form-row:first-child{
	margin-top:0;
}
.form-block .form-row:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .form-row             { zoom: 1; } /* IE6 */
*:first-child+html .form-row { zoom: 1; } /* IE7 */

.form-block .form-row .form-col{
	float:left;
	width:270px;
}
.form-block .form-row .form-col:first-child{
	margin-right:20px;
}

.form-block.with-step{
	padding:10px 20px 10px 35px;
	width:585px;
}

.form-block.with-step .step {
	font-weight: bold;
	left: 10px;
	position: absolute;
	top: 9px;
}

.form-block.with-step .next-button{
	position:absolute;
	right:10px;
	top:10px;
}


.form-block .form-row > label,
.form-block .form-row .form-col > label{
	display:block;
	font-family: "Myriad Pro", Arial;
	font-size: 16px;
	margin-bottom: 5px;
}

.form-block .form-row input[type="text"],
.form-block .form-row input[type=email],
.form-block .form-row input[type=password],
.form-block .form-row input[type=number],
.form-block .form-row select,
.form-block .form-row textarea,
.form-block .form-row ul.checkbox-tree{
	margin-top:3px;
	width:380px;
}

.form-block .form-row .form-col input[type="text"],
.form-block .form-row .form-col input[type=email],
.form-block .form-row .form-col input[type=password],
.form-block .form-row .form-col input[type=number]{
	width:260px;
}

.form-block .form-row .form-col .radio-form-col{
	padding:5px;
}

.form-button-bar{
	margin:15px 0 20px 0;
}

.form-block .form-button-bar{
	margin-bottom:0;
}

.privacy-policy-box{
	height:250px;
	margin-bottom:20px;
	overflow:auto;
}



.form-block .form-row .input-icon{
	display:inline-block;
	height:16px;
	margin-left:4px;
	width:16px;
	*display:inline;
	zoom:1;
}

.form-block .form-row .input-icon.help-icon{
	background:transparent url("../images/icon-help.png") no-repeat left top;
}

.form-block .form-row .input-icon.correct-icon{
	background:transparent url("../images/icon-correct.png") no-repeat left top;
}

.form-block .form-row .input-icon.wrong-icon{
	background:transparent url("../images/icon-wrong.png") no-repeat left top;
}


/* NAV
------------------------------------------------------------------------------------*/
#nav-wrapper{
	height:60px;
	position:relative;
	width:100%;
}

#nav-wrapper .top-border{
	height:12px;
	left:0;
	position:absolute;
	top:0;
	width:100%;
}

#nav-wrapper nav{
	height:60px;
	z-index:1;
}

#nav-wrapper nav .image-wrapper {
	height: 125px;
	left:0;
	position: absolute; 
	top:0;
	width: 245px;
	z-index:1;
}

#nav-wrapper nav .image-wrapper .fadein{
	height: 88px;
	position: relative;
	margin: 0 auto;
	width: 188px;
}

#nav-wrapper nav .image-wrapper .fadein img { 
	position:absolute; 
	left:0; 
	top:0;
}


#nav-wrapper nav ul#menu {
	height: 48px;
	margin: 0 0 0 225px;
	padding-top: 12px;
}
#nav-wrapper nav ul#menu > li{
	display: block;
	float: left;
	position:relative;
}
#nav-wrapper nav ul#menu > li > a {
	color:#ffffff;
	display: block;
	text-decoration: none;
	height: 23px;
	padding: 20px 10px 5px 10px;
}

#nav-wrapper nav ul#menu > li > a:hover,
#nav-wrapper nav ul#menu > li.active > a,
#nav-wrapper nav ul#menu > li.current > a {
	background-color:#0777a5;
}

#nav-wrapper nav ul#menu > li ul{
	background-color:#0777a5;
	display:none;
	left:0;
	margin:0;
	padding:0;
	position:absolute;
	top:48px;
	width:150px;
}

#nav-wrapper nav ul#menu > li.active ul{
	display:block;
}

#nav-wrapper nav ul#menu > li ul li{
	display:block;
	list-style:none;
}

#nav-wrapper nav ul#menu > li ul li a{
	color:#ffffff;
	display:block;
	padding:5px 10px;
	text-decoration:none;
}

#nav-wrapper nav ul#menu > li ul li a:hover,
#nav-wrapper nav ul#menu > li ul li.current a{
	background-color:#06587a;
}


#language-toggle{
	position:absolute;
	right:0;
	top:29px;
}

#language-toggle label{
	color:#fff;
	font-weight:bold;
	padding-right:4px;
}


/* HEADER
------------------------------------------------------------------------------------*/
header {
	height: 186px;	
	margin: 0 0 25px 0;
	overflow:hidden;
	position: relative;
	width: 100%;
}

header img.page-image{
	height:auto;
	left:0;
	position:absolute;
	top:0;
	width:100%;
}

header.faded img.page-image{
	opacity:0.3;
	filter:alpha(opacity=30);
}

header .centered-content{
	height:186px;
}

header .centered-content h1{
	left:0;
	position:absolute;
	text-transform:uppercase;
	top:70px;
}

header .centered-content h1 .small{
	display:block;
	font-size:24px;
}



/* CONTENT
------------------------------------------------------------------------------------*/
#content-wrapper {
	margin-bottom:50px;
	min-height:300px;
	padding:0;
}

#content-wrapper #main-content {
	float: left;
	margin-right:20px;
	position: relative;
	width: 640px;
}

#content-wrapper  #main-content .info-box { 
	margin: 0 0 20px 0;
	padding: 15px 20px 20px 20px;
}

#content-wrapper #main-content .info-box img {
	float: left;
	margin: -8px 8px 0 0;
}


 
/* SIDE BAR RIGHT
------------------------------------------------------------------------------------*/
#side-content-right {
	float: left;
	width: 300px;
}

#side-content-right #sponsor-logos{
	margin-bottom:20px;
	text-align:right;
}

#side-content-right #sponsor-logos img{
	margin-left:9px;
}
#side-content-right #sponsor-logos img:first-child{
	margin-left:0;
}

#side-content-right #current-user-info{
	background-color:#fff;
	margin-bottom:20px;
	padding:20px;
}
 
/* FOOTER
------------------------------------------------------------------------------------*/
footer {
	clear:both;
	width: 100%;
}

footer .centered-content{
	padding:5px 10px;
}

footer .centered-content p{
	text-align: right;
}


/* UTILS
------------------------------------------------------------------------------------*/
.flt-left{
	float:left;
}
.flt-right{
	float:right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/* QTIP SETTINGS
------------------------------------------------------------------------------------*/
.qtip-modal{
	max-width:none;
}



/* START PAGE
------------------------------------------------------------------------------------*/
#language-wrapper {
	padding:20px;
	position: relative;
	width: 560px;
	height: 164px;
}

#language-wrapper .lang-col {
	float:left;
	width: 270px;
	text-align:center;
}

#language-wrapper .lang-col p {
	font-size: 13px;
}

ul.start-page-options {
	margin: 0;
	padding:0;
}

ul.start-page-options li {
	float: left;
	margin: 0 15px 15px 0;
	padding:0;
	list-style:none;
	width:300px;
}

ul.start-page-options li.col-two{
	margin-right:0;
}

ul.start-page-options li a.button {
	display:block;
	font-size: 20px;
	height: 44px;
	margin:0;
	padding: 40px 0 25px 0 ;
	width:300px;
}

#login-form{
	width:260px;
}
#login-form .form-row input[type="text"],
#login-form .form-row input[type="password"]{
	width:250px;
}


/* REGISTER CHOICE PAGE
------------------------------------------------------------------------------------*/
.registration-options{
	margin-top:20px;
}


/* PROGRAM UPDATES
------------------------------------------------------------------------------------*/
#content-wrapper #main-content #announcement-block .announcement{
	border-bottom:1px solid #e6e6e6;
	padding:20px 0 10px 0;
}

#content-wrapper #main-content #announcement-block .announcement .announcement-date{
	font-weight:bold;
}


