/**
 * @colours : light blue = #d5e5ee
 *            Dark blue = #00609c
 *
 */

/* CORE
------------------------------------------------------------------------------------*/
body {
	color: #363636;
	background: url(../images/bg.gif) repeat-y top center;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:12px;
}

.container {
	width: 930px;
	margin: 0 auto;
	text-align: left;
	position: relative;
}
 

/* GLOBAL FORMATTING
------------------------------------------------------------------------------------*/
p{
	line-height:1.5em;
}
a{
	color:#dc5000;
}

.no-touch a:hover{
	text-decoration:none;
}

a:focus{
	outline:none;
}

h1, h2, h3, h4{
	color:#00609c;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin-top:0;
}

h2 {
	font-size: 24px;
	margin-bottom:20px;
}

h3 {
	font-size: 18px;
	margin-bottom:15px;
}

a.button,
button{
	color:#ffffff;
	background-color:#00609c;
	border:1px solid #e6e6e6;
	border-radius:3px;
	display: inline-block;
	padding: 7px 10px;
	margin:0 5px 5px 0;
	text-align: center;
	text-decoration: none;
	*display:inline;
	zoom:1;
}

.no-touch a.button:hover,
.no-touch button:hover{
	background-color:#1b74ab;
}

.button.bsmall{
	
}

.button.blarge{
	font-size:15px;
	padding: 9px 32px;
}


a.sidebar-button {
	font-size:18px;
	width: 231px;
	margin: 17px 0 0 0;
}

.center-text{
	text-align:center;
}



/* FORM
-----------------------*/
input[type=text],
input[type=email],
input[type=password],
input[type=number],
textarea,
select{
	background-color:#fff;
	border:1px solid #cccccc;
	padding:5px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
textarea:focus,
select:focus{
	background-color:#d5e5ee;
	border:1px solid #00609c;
	outline:1px solid #fff;
}

form .input-error{
	background-color:#ffd9d9;
	border:1px solid #8a1515;
}

form .input-error:focus{
	background-color:#fdabab;
	border:1px solid #8a1515;
}

form .input-valid{
	background-color:#e7fae3;
	border:1px solid #2e6f0b;
}

form .input-valid:focus{
	background-color:#c6f1be;
	border:1px solid #2e6f0b;
}

.form-block {
	border:3px solid #e3e3e3;
	border-radius:5px;
	margin-bottom:20px;
	padding: 10px;
	position:relative;
}

.form-block.with-step{
	padding:10px 35px;
}

.form-block.with-step .step {
	font-size: 20px;
	font-weight: bold;
	left:10px;
	position:absolute;
	top:8px;
}

.form-block.with-step .next-button{
	position:absolute;
	right:10px;
	top:10px;
}

.form-block .input-holder{
	background-color:#f3f3f3;
	border-radius:0 3px 3px 3px;
	margin-bottom:2px;
}

.form-block .input-holder:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.form-block .input-holder label{
	background-color: #e3e3e3;
	border-radius:3px 0 0 3px;
	float: left;
	font-weight: bold;
	margin-right: 10px;
	padding: 8px 10px;
	width: 150px;
	height: 16px;
}

.form-block .input-holder input[type="text"],
.form-block .input-holder input[type=email],
.form-block .input-holder input[type=password],
.form-block .input-holder input[type=number],
.form-block .input-holder select,
.form-block .input-holder textarea{
	float:left;
	margin-top:3px;
	width:200px;
}

.form-block .input-holder select{
	margin-top:7px;
}

.form-block .input-holder.dob select{
	margin-right:5px;
	width:100px;
}

.form-block .radio-input-holder{
	padding:5px;
}

.form-block .input-holder .radio-input-holder{
	padding-top:8px;
}


.form-block .form-button-bar{
	margin-top:15px;
	text-align: center;
}


/* HEADER
------------------------------------------------------------------------------------*/
header {
	position: relative;
	width: 930px;
	height: 225px;
	margin: 15px 0;
}

header .image-wrapper {
	position: absolute; 
	left: 50%;
}

header .image-wrapper {
	position: relative; 
	/*left: -50%;*/
	width: 190px;
	height: 88px;
	margin-left: -95px;
}

.fadein img { 
	position:absolute; 
	left:0; 
	top:0;
}


/* MAIN MENU
------------------------------------------------------------------------------------*/
/*--- soon to be added horizontal menu ---*/
#menu {
	float: left;
}
#menu li {
	display: block;
	float: left;
}
#menu li a {
	display: block;
	text-decoration: none;
	height: 50px;
	width: 125px;
	padding: 5px 10px 5px 10px;
}
/* soon to be added menu stylings */
#menu li.current_page_item a {
}
#menu li.first a {
}
#menu li.last a {
}
 
/* CONTENT
------------------------------------------------------------------------------------*/
#main-content {
	float: left;
	margin-bottom:25px;
	padding-right:20px;
	position: relative;
	width: 615px;
}

.info-box {
	background-color:#dbe6f2;
	border: 1px solid #00609c;
	margin: 0 0 20px 0;
	padding: 10px;
}

#main-content .info-box p{
	font-size: 12px;
}

.info-box img {
	float: left;
	margin: 0 8px 0 0;
}

 
/* SIDE BAR RIGHT
------------------------------------------------------------------------------------*/
#side-content-right {
	float: left;
	width: 295px;
}


 
/* FOOTER
------------------------------------------------------------------------------------*/
footer {
	border-top:2px solid #e6e6e6;
	clear:both;
	width: 100%;
}

footer  p{
	text-align: right;
	margin: 10px 0;
}

#logo-menu {
	position: relative;
	margin: 0 0 5px 0;
}

#logo-menu img {
	margin: 0 0 0 2px;
	border: 2px solid;
}

#logo-menu img:first-child {
	margin: 0;
}



/* UTILS
------------------------------------------------------------------------------------*/
.flt-left{
	float:left;
}
.flt-right{
	float:right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/* QTIP SETTINGS
------------------------------------------------------------------------------------*/
.qtip-modal{
	max-width:none;
}



/* START PAGE
------------------------------------------------------------------------------------*/
#language-wrapper {
	padding:20px;
	position: relative;
	width: 560px;
	height: 164px;
}

#language-wrapper .lang-col {
	float:left;
	width: 270px;
	text-align:center;
}

#language-wrapper .lang-col p {
	font-size: 13px;
}

ul.start-page-options {
	margin: 0;
	padding:0;
}

ul.start-page-options li {
	float: left;
	margin: 0 15px 15px 0;
	padding:0;
	list-style:none;
	width:300px;
}

ul.start-page-options li.col-two{
	margin-right:0;
}

ul.start-page-options li a.button {
	display:block;
	font-size: 20px;
	height: 44px;
	margin:0;
	padding: 40px 0 25px 0 ;
	width:300px;
}


#login-form {
	background: #f3f3f3;
	width: 269px;
}

#login-form .input-holder label{
	margin-right:5px;
	width:80px;
}

#login-form .input-holder input{
	width:147px;
}


/* REGISTER CHOICE PAGE
------------------------------------------------------------------------------------*/
.registration-options{
	margin-top:20px;
}


